{% extends "base.html.twig" %}

{% block title %}Movies Page
{% endblock %}

{% block body %}


		<h1 class="bg-blue-500 text-2xl text-center font-bold"> Woohoo!</h1>

	<img src="{{ asset('build/images/img1.c0d7b739.jpg') }}" alt="">

{% endblock %}
